*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Varela Round', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.dropdown-toggle::before {
    content: none !important;
}
